*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body{
    background-color: white;
    color: #333333;
    padding: 30px 15px;
}

main{
    background-color: #eeeeee;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 20px;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

h2{
    font-size: 18px;
    margin-bottom: 25px;
}


h1, h2, p{
    text-align: center;
}

#timeline-section ul li p{
    text-align: left;
}

#end-of-timeline p{
    text-align: left;
}

footer{
    text-align: left;
}

#img-divr{
    background-color: white;
    margin: 25px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#img-div img{
    width: 80%;
    margin: 5px auto;
    display: block;
    max-width: 100%;
}

#img-div p{
    margin: 15px 0;
}

#timeline-section{
    padding: 15px 0 15px 0;
    max-width: 600px;
    margin: 5px auto;
}

#timeline-section ul li{
    margin-bottom: 25px;
}

#timeline-section ul li p{
    word-spacing: 2px;
    font-weight: 100;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
    font-size: 0.95rem;
}

footer p{
    font-size: 19px;
    font-weight: bolder;
}
